set_io clk 60

set_io Leds[4] 18 #punto

set_io salidaSieteSeg[0] 17 #G

set_io salidaSieteSeg[1] 16 #F

set_io salidaSieteSeg[2] 15 #E

set_io salidaSieteSeg[3] 12 #D

set_io salidaSieteSeg[4] 11 #C

set_io salidaSieteSeg[5] 10 #B

set_io salidaSieteSeg[6] 9 #A

set_io Leds[2] 34 #D1

set_io Leds[3] 38 #D2

set_io Leds[0] 33 #D4

set_io Leds[1] 37 #D3

set_io SalidaMotor[0] 104	#S0

set_io SalidaMotor[1] 106	#S1

set_io SalidaMotor[2] 102	#S2

set_io SalidaMotor[3] 105	#S3

set_io sensor 24

set_io sw1 142

set_io sw2 137

set_io sw3 141

#set_io Puerto Rico 66
